body {
    background: #ffffff;
    font-family: Tahoma;
    font-size: 12px;
}

#container {
    background: #ededed;
    width: 1000px;
    height: 1000px;
    border: 1px solid;
    margin: 10px auto;
}

#header {
    background: #ededed;
    width: 1000px;
    height: 50px;
}

#url {
    background: #c9c9c9;
    width: 1000px;
    height: 20px;
}

#content {
    background: #ffffff;
    width: 1000px;
    height: 880px;
}

#footer {
    background: #ededed;
    width: 1000px;
    height: 50px;
}
